@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';
@import "glightbox/dist/css/glightbox.css";



header {
    position: fixed;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
}

header.hide {
    transform: translateY(-300px);
}

body {
    /*background: green !important;*/
}